* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;

  /* font cins oldugu icin tamamen center olmadı düzeltmek icin azcık line height ve margin ekliyorum h1 e */
}

.logo img {
  width: 68px;
  height: 68px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", cursive;
  line-height: 1;
  margin-top: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  gap: 24px;

  /* BUTONLARIN HER ZAMAN SAĞDA, FACT VE TAG'İN HER ZAMAN SOLDA KALMASINI İSTİYORUM BUNU YAPMAK İÇİN:
  vote-buttons classına margin-left: auto özelliği ekliyorum (butonlar böylece her zaman sağa yapışık kalıcak)
  */
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", cursive;
  padding: 3px 10px 0 10px;
  border-radius: 100px;
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;

  display: flex;
  gap: 8px;
}

.vote-buttons button {
  border: none;
  color: inherit;
  font-size: 16px;
  background-color: #78716c;
  padding: 6px 12px;
  border-radius: 100px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s all;
}

.vote-buttons button:hover {
  background-color: #292524;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3s all;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  color: inherit;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  transition: 0.2s all;
  border-radius: 100px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;

  /* parent element boyutu kadar artacak width (% işareti parent ile bağlantılı) */
  width: 100%;
}

.category {
  margin-bottom: 16px;
}

.btn-category {
  width: 100%;
  background-image: none;
}